<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611471673866-pgkp85bg5c9psv9fj79mettu8g7i34g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611471673866-pgkp85bg5c9psv9fj79mettu8g7i34g4</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ9oQC0JQuxcIS-K_eVNk5JnaFSJhIKJM</string>
	<key>GCM_SENDER_ID</key>
	<string>611471673866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-com-c2685</string>
	<key>STORAGE_BUCKET</key>
	<string>e-com-c2685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611471673866:ios:5e8bf80ec0c333f5eeadf3</string>
</dict>
</plist>